<h1>Contact the Jyte Team</h1>
<br/>
<h2>We'd love to hear from you.</h2> 
<p>If you have a question or feedback please email us at <b>jyte@aboutus.org</b>.

<br/><br/>
<h2>Team Profiles</h2>
<ul class="plain_list">
  <li>
    <a href="http://jyte.com/profile/kristinaweis.myopenid.com">Kristina Weis</a>
  </li>
  <li><a href="http://jyte.com/profile/donpark.org">Don Park</a></li>
</ul>

